<p>drivers-shifts-details works!</p>
<div class="container-sm">
  <div *ngIf="currentDriversShifts.id" class="edit-form">
    <h4>Drivers Shift</h4>
    <form>

      <input type="hidden" [(ngModel)]="currentLine" value="{{ currentLine.id }}" [ngModelOptions]="{standalone: true}">

      <input type="hidden" [(ngModel)]="currentDriver" value="{{ currentDriver.id }}" [ngModelOptions]="{standalone: true}">

      <input type="hidden" [(ngModel)]="currentDriversShifts.user" value="{{ currentUser }}" [ngModelOptions]="{standalone: true}">

      <div class="form-group">
        <label for="category">Shift</label>
        <br>
        <p>Current Shift: {{ currentDriversShifts.shift }}</p>
        <p>Change Shift:</p>
        <select [(ngModel)]="currentDriversShifts.shift" [ngModelOptions]="{standalone: true}">
          <option *ngFor="let shift of shifts" value="{{ shift }}">{{ shift }}</option>
        </select>
      </div>
      <button class="badge badge-succerss mb-2" (click)="changeShift()">
        Change Shift
      </button>

    </form>
  </div>
  <div *ngIf="!currentDriversShifts.id">
    <br/>
    <p>Cannot access this Shift...</p>
  </div>
</div>
