<br>
<div class="container-sm">
  <div class="list row">
    <div class="col-md-8">
      <h4>Drivers Shifts</h4>

      <br><br><br>

      <table class="table">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">LINE</th>
            <th scope="col">DRIVER</th>
            <th scope="col">SHIFT</th>
            <th scope="col">VIEW</th>
          </tr>
        </thead>
        <tbody>

          <tr  *ngFor="let driveShift of driversShiftsList; let i = index"
               [class.active] = "i == currentIndex"
               (click) = "setActiveDriversShifts(driveShift, i)"
          >

            <th scope="row">{{ i + 1 }}</th>
            <th>{{ driveShift.publiclinesId! | shiftLine | async }}</th>
            <th>{{ driveShift.driverId! | shiftDriver | async }}</th>
            <th>{{ driveShift.shift }}</th>
            <th>
              <a class="badge badge-info" routerLink="/scheduleread/{{ driveShift.id }}">
                View
              </a>
            </th>

          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>

