<p>drivers-shifts-list works!</p>
<div class="container-sm">
  <div class="list row">
    <div class="col-md-6">
      <h4>Drivers Shifts</h4>

      <br><br><br>

      <ul class="list-group">
        <li class="list-group-item"
            *ngFor="let driveShift of driversShiftsList; let i = index"
            [class.active] = "i == currentIndex"
            (click) = "setActiveDriversShifts(driveShift, i)"
          >
          {{ driveShift.id }}
          {{ driveShift.publiclinesId! | shiftLine  }}
          {{ driveShift.driverId }}
          {{ driveShift.shift }}
        </li>
      </ul>
    </div>
    <div class="col-md-6">
      <div *ngIf="currentDriversShifts.id">
        <h4>Shift</h4>
        <div>
          <label><strong>Line:</strong></label>
          {{ currentDriversShifts.publiclinesId }}
        </div>
        <div>
          <label><strong>Driver:</strong></label>
          {{ currentDriversShifts.driverId }}
        </div>
        <div>
          <label><strong>Shift:</strong></label>
          {{ currentDriversShifts.shift }}
        </div>
        <div>
          <label><strong>Added by:</strong></label>
          {{ currentDriversShifts.user! | username  }}
        </div>
          <a class="badge badge-warning" routerLink="/schedule/{{ currentDriversShifts.id }}">
            Change Shift
          </a>
      </div>
      <div *ngIf="!currentDriversShifts">
        <br/>
        <p>Please click on a Shift...</p>
      </div>
    </div>
  </div>
</div>

