<div class="container-sm">
  <div class="list row">
    <div class="col-md-6">
      <h4>Category List</h4>

      <br><br>
      <a class="badge badge-secondary" routerLink="/categoryadd">
        Add Category
      </a>
      <br><br><br>

      <ul class="list-group">
        <li class="list-group-item"
            *ngFor="let category of categories; let i = index"
            [class.active] = "i == currentIndex"
            (click) = "setActiveCategory(category, i)"
          >
          {{ category.id }}
          {{ category.name }}
        </li>
      </ul>
    </div>
    <div class="col-md-6">
      <div *ngIf="currentCategory.id">
        <h4>Category</h4>
        <div>
          <label><strong>Name:</strong></label>
          {{ currentCategory.name }}
        </div>
          <a class="badge badge-warning" routerLink="/category/{{ currentCategory.id }}">
            Edit
          </a>
      </div>
      <div *ngIf="!currentCategory">
        <br/>
        <p>Please click on a Category...</p>
      </div>
    </div>
  </div>
</div>
