<br>
<div class="container-sm">
  <div class="list row">
    <div class="col-md-8">
      <h4>Line List</h4>

      <br><br>
      <a class="badge badge-secondary" routerLink="/linesadd">
        Add Line
      </a>
      <br><br><br>

      <table class="table">
        <thead>
          <tr>
            <th scope="col">ID</th>
            <th scope="col">LINE NAME</th>
            <th scope="col">START TIME</th>
            <th scope="col">END TIME</th>
            <th scope="col">TOTAL TIME</th>
            <th scope="col">NUMBER OF DRIVERS</th>
            <th scope="col">VIEW</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let line of lines; let i = index"
              [class.active] = "i == currentIndex"
              (click) = "setActiveLine(line, i)"
          >

            <th scope="row">{{ line.id }}</th>
            <th>{{ line.name_of_line }}</th>
            <th>{{ line.start_time }}</th>
            <th>{{ line.end_time }}</th>
            <th>{{ line.total_time }}</th>
            <th>{{ line.num_drivers }}</th>
            <th>
              <a class="badge badge-info" routerLink="/linesread/{{ line.id }}">
                View
              </a>
            </th>

          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>

