<p>line-list works!</p>
<div class="container-sm">
  <div class="list row">
    <div class="col-md-6">
      <h4>Line List</h4>

      <br><br>
      <a class="badge badge-secondary" routerLink="/linesadd">
        Add Line
      </a>
      <br><br><br>

      <ul class="list-group">
        <li class="list-group-item"
            *ngFor="let line of lines; let i = index"
            [class.active] = "i == currentIndex"
            (click) = "setActiveLine(line, i)"
          >
          {{ line.id }}
          {{ line.name_of_line }}
          {{ line.start_time }}
          {{ line.end_time }}
          {{ line.total_time }}
          {{ line.num_drivers }}
        </li>
      </ul>
    </div>
    <div class="col-md-6">
      <div *ngIf="currentLine.id">
        <h4>Line</h4>
        <div>
          <label><strong>Name Of Line:</strong></label>
          {{ currentLine.name_of_line }}
        </div>
        <div>
          <label><strong>Start Time Of Line:</strong></label>
          {{ currentLine.start_time }}
        </div>
        <div>
          <label><strong>End Time Of Line:</strong></label>
          {{ currentLine.end_time }}
        </div>
        <div>
          <label><strong>Line Added By:</strong></label>
          {{ currentLine.user! | username }}
        </div>
          <a class="badge badge-warning" routerLink="/lines/{{ currentLine.id }}">
            Edit
          </a>
          <div *ngIf="currentLine.num_drivers === 1">
            <a class="badge badge-success" routerLink="/shiftsaddone/{{ currentLine.id }}">
              Add Drivers
            </a>
          </div>
          <div *ngIf="currentLine.num_drivers === 2">
            <a class="badge badge-success" routerLink="/shiftsaddtwo/{{ currentLine.id }}">
              Add Drivers
            </a>
          </div>
          <div *ngIf="currentLine.num_drivers === 3">
            <a class="badge badge-success" routerLink="/shiftsaddthree/{{ currentLine.id }}">
              Add Drivers
            </a>
          </div>
      </div>
      <div *ngIf="!currentLine">
        <br/>
        <p>Please click on a Line...</p>
      </div>
    </div>
  </div>
</div>

