<br>
<div class="container-sm">
  <div class="list row">
    <div class="col-md-8">
      <h4>Driver List</h4>

      <br><br>

      <a class="badge badge-secondary" routerLink="/driversadd">
        Add Driver
      </a>

      <br><br><br>

      <table class="table">
        <thead>
          <tr>
            <th scope="col">ID</th>
            <th scope="col">NAME</th>
            <th scope="col">DOB</th>
            <th scope="col">CATEGORY</th>
            <th scope="col">ACTIVE</th>
            <th scope="col">VIEW</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let drive of drivers; let i = index"
              [class.active] = "i == currentIndex"
              (click) = "setActiveDriver(drive, i)">

            <th scope="row">{{ drive.id }}</th>
            <th>{{ drive.name }}</th>
            <th>{{ drive.dob }}</th>
            <th>{{ drive.category! | categoryName }}</th>
            <th>{{ drive.active }}</th>
            <th>
              <a class="badge badge-info" routerLink="/driversread/{{ drive.id }}">
                View
              </a>
            </th>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
